{% load widget_tweaks %}
<div class="mb-5 mt-3">
    <div class="col-md-6">
        <table>
          {{ wizard.management_form }}
          {% for field in wizard.form %}
              <div class="form-group">
                {{ field.errors }}
                <label>{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
              </div>
          {% endfor %}
        </table>
    </div>
</div>
