{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <form class="form" method="post">
        {% csrf_token %}
        <h3>Account activation</h3>
        <p>Enter your username and the token sent to your phone number to activate your account.</p>
        <div class="row mb-5 mt-3">
            <div class="col-md-6">
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Activate">
                </form>
            </div>
        </div>
    </form>
{% endblock content %}
