{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mb-5 mt-3">
    <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
</div>
{% endblock content %}
