{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %} | Beyonic Auth{% endblock title %}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li><a class="nav-item nav-link" href="{% url 'two_factor:profile' %}">Profile</a></li>
            <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a class="nav-item nav-link" href="{% url 'two_factor:login' %}">Login</a></li>
            <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
        </div>
      </div>
    </nav>
</header>
<div class="container">
    {% block content %}{% endblock content %}
</div>
</body>
</html>
